<div class="user-title">
  <h3 class="form-title"> Hello, <%= current_user.first_name %> <%= current_user.last_name %>! </h3>
</div>
<div class="user-information">
  <div class="container">
    <div class="row">
      <div class="col-sm user-box">
        <div><%= image_tag "MARTA.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
      </div>
      <div class="col-sm user-box">
        <h2>NAME:</h2>
        <br>
        <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
      </div>
      <div class="col-sm user-box">
        <h2>E-MAIL:</h2>
        <br>
        <h5><%= current_user.email %></h5>
      </div>
      <div class="col-sm user-box">
        <span class="form-actions">
          <%= link_to 'Edit', edit_user_registration_path, class: 'blue-btn reduce-font-btn'%>
        </span>
      </div>
    </div>
  </div>
</div>
<h3 class="form-title margin40tb"> MY PREFERENCES </h3>

<div class="user-preferences">
  <div class="form-inputs basic-form">
    <%= simple_form_for current_user do |f| %>
    <div class="container">
      <div class="row questions">
        <div class="col-sm question"><%= f.association :colours, as: :check_boxes, collection: Colour.all %></div>
        <div class="col-sm question"><%= f.association :styles, as: :check_boxes, collection: Style.all %></div>
<!--         <div class="w-100"></div> -->
        <div class="col-sm question"><%= f.association :product_types, as: :check_boxes, collection: ProductType.all %></div>
        <div class="col-sm question4"><%= f.input :cut_id, collection: Cut.all %></div>
      </div>
      <div class="row preferences-btn">
        <%= f.submit 'Save preferences', class: 'small-btn blue-back' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

