<div>
  <h3 class="form-title margin35tb"> Hello, <%= @user.first_name %> <%= @user.last_name %>! </h3>
</div>
<div class="user-information">
  <div class="container">
    <div class="row">
      <div class="col-sm user-box">
        <div><%= image_tag "MARTA.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
      </div>
      <div class="col-sm user-box">
        <h2>NAME:</h2>
        <br>
        <h5><%= @user.first_name %> <%= @user.last_name %></h5>
      </div>
      <div class="col-sm user-box">
        <h2>E-MAIL:</h2>
        <br>
        <h5><%= @user.email %></h5>
      </div>
      <div class="col-sm user-box">
        <span class="form-actions">
        <%= link_to 'Edit', edit_user_registration_path, class: 'blue-btn'%>
        </span>
      </div>
    </div>
    <div class="row">
      <h3 class="form-title center"> MY PREFERENCES </h3>
    </div>
    <div class="row">
      <div class="col-sm user-box">
        <h2>COLOURS:</h2>
        <%= @user.colours.each do |color|%>
        <h5>colour.name</h5>
        <% end %>
      </div>

        <h2>NAME:</h2>
        <br>
        <h5><%= @user.first_name %> <%= @user.last_name %></h5>
      </div>
      <div class="col-sm user-box">
        <h2>E-MAIL:</h2>
        <br>
        <h5><%= @user.email %></h5>
      </div>
      <div class="col-sm user-box">
        <span class="form-actions">
        <%= link_to 'Edit', edit_user_registration_path, class: 'blue-btn'%>
        </span>
      </div>
    </div>
  </div>
</div>

<br>





<div class="user-information">
  <span>
    <h2>COLOURS:</h2>
    <%= @user.colours.each do |color|%>
    <h5>colour.name</h5>
    <% end %>
  </span>
  <span>
    <h2>PRODUCT TYPES:</h2>
    <%= @user.product_types.each do |product_type|%>
    <h5>product_type.name</h5>
    <% end %>
  </span>
  <span>
    <h2>PRODUCT STYLES:</h2>
    <%= @user.styles.each do |style|%>
    <h5>style.name</h5>
    <% end %>
  </span>
  <span>
    <h2>PRODUCT CUT:</h2>

  </span>
</div>

<div class="user-preferences">

  <div class="form-inputs basic-form">
    <%= simple_form_for current_user do |f| %>
      <%= f.association :colours, as: :check_boxes, collection: @colours %>
      <%= f.association :styles, as: :check_boxes, collection: @styles %>
      <%= f.association :product_types, as: :check_boxes, collection: @types %>
      <%= f.submit 'Save user', class: 'blue-btn' %>
    <% end %>
  </div>
</div>



