<% @products.each do |prod| %>
  <div class="card-trip">
    <div class="card-link">
      <%= link_to product_path(prod) do %>
        <div class="img" style="background-image: url(<%= cl_image_path prod.pictures.first.url%>)">
        </div>
      <% end %>

      <div class="quick-add" id="<%= prod.id %>">
        <%= link_to 'XS', product_order_products_path(prod, "order_product"=>{"size"=>"XS"}), method: :post, remote: true, class: "size", id: "#{prod.id}-XS" %>
        <%= link_to 'S', product_order_products_path(prod, "order_product"=>{"size"=>"S"}), method: :post, remote: true, class: "size", id: "#{prod.id}-S" %>
        <%= link_to 'M', product_order_products_path(prod, "order_product"=>{"size"=>"M"}), method: :post, remote: true, class: "size", id: "#{prod.id}-M" %>
        <%= link_to 'L', product_order_products_path(prod, "order_product"=>{"size"=>"L"}), method: :post, remote: true, class: "size", id: "#{prod.id}-L" %>
      </div>
    </div>

    <div class="card-trip-infos">
      <h5><strong><%= prod.name %></strong></h5>
      <p><%= prod.price %></p>
      <p><%= prod.colour.name %></p>
    </div>
  </div>
<% end %>
