<% products.each do |prod| %>
  <div class="card-trip">
    <%= link_to product_path(prod) do%>
      <div class="img" style="background-image: url(<%= cl_image_path prod.pictures.first.url%>)">
      </div>
      <div class="img-2" style="display:none; background-image: url(<%= cl_image_path prod.pictures.first.url%>)"></div>
        <div class="card-trip-infos">
            <h5><strong><%= prod.name %></strong></h5>
            <p><%= prod.price %></p>
            <p><%= prod.colour.name %></p>
        </div>
    <% end %>
  </div>
<% end %>
