<div class="black-friday-banner">
  <h1>BLACK FRIDAY SALE</h1>
</div>
<div class="t-container">
  <div class="row">
  <div class="left-side-bar col-lg-2">
    <div class="search-elements">
      <h5><strong>Shop by Category</strong></h5>
      <br>
      <%= simple_form_for :query, url: {controller: 'products', action: 'index'}, method: :get do |f| %>
        <%= f.input :cut, as: :select, required: false, collection: Cut.all %>
        <%= f.input :type, as: :select, required: false, collection: ProductType.all %>
        <%= f.input :style, as: :select, required: false, collection: Style.all %>
        <%= f.input :colour, as: :select,include_hidden: false, required: false, collection: Colour.all %>
        <%= f.submit :SEARCH, class: "btn-form" %>
      <% end %>
    </div>
  </div>
  <div class="cards col-lg-10">
    <% @products.each do |prod| %>
      <div class="card-trip">
        <%= link_to product_path(prod) do%>
          <div class="img" style="background-image: url(<%= cl_image_path prod.pictures.first.url%>)">
          </div>
          <div class="img-2" style="display:none; background-image: url(<%= cl_image_path prod.pictures.first.url%>)"></div>
            <div class="card-trip-infos">
                <h5><strong><%= prod.name %></strong></h5>
                <p><%= prod.price %></p>
                <p><%= prod.colour.name %></p>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>
