<!-- Playing with the sidebar -->
<!-- <div id="mySidebar" class="sidebar mt-5">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
  <h2>Collapsed Sidebar</h2>
  <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p>
</div> -->
<div class="black-friday-banner">
  <h1><i class="fas fa-gifts"></i> &nbsp &nbsp CHRISTMAS SPECIAL OFFERS! &nbsp &nbsp <i class="fas fa-holly-berry"></i></h1>
</div>
<div class="t-container">
  <div class="row">
  <div class="left-side-bar col-lg-2">
    <div class="search-elements prod-index-form">
      <h4>Shop by Category</h4>
      <%= simple_form_for @filter, url: { controller: 'products', action: 'index' }, html: {novalidate: true, class: "no-bs-validation"}, method: :get do |f| %>
        <%= f.input :cut, as: :select, required: false, collection: Cut.all, value_method: :name %>
        <%= f.input :type, as: :select, required: false, collection: ProductType.all,value_method: :name %>
        <%= f.input :style, as: :check_boxes, include_hidden: false, required: false, collection: Style.all, value_method: :name %>
        <%= f.input :colour, as: :check_boxes, include_hidden: false, required: false, collection: Colour.all, value_method: :name %>
        <%= f.submit :SEARCH, class: "small-btn btn-center" %>
      <% end %>
    </div>
  </div>
  <div class="cards col-lg-10">
    <% @products.each do |prod| %>
      <div class="card-trip">
        <div class="card-link">
          <%= link_to product_path(prod) do %>
            <div class="img" style="background-image: url(<%= cl_image_path prod.pictures.first.url%>)">
            </div>
          <% end %>

          <div class="quick-add" id="<%= prod.id %>">
            <%= link_to 'XS', product_order_products_path(prod, "order_product"=>{"size"=>"XS"}), method: :post, remote: true, class: "size", id: "#{prod.id}-XS" %>
            <%= link_to 'S', product_order_products_path(prod, "order_product"=>{"size"=>"S"}), method: :post, remote: true, class: "size", id: "#{prod.id}-S" %>
            <%= link_to 'M', product_order_products_path(prod, "order_product"=>{"size"=>"M"}), method: :post, remote: true, class: "size", id: "#{prod.id}-M" %>
            <%= link_to 'L', product_order_products_path(prod, "order_product"=>{"size"=>"L"}), method: :post, remote: true, class: "size", id: "#{prod.id}-L" %>
          </div>
        </div>

        <div class="card-trip-infos">
          <h5><strong><%= prod.name %></strong></h5>
          <p><%= prod.price %></p>
          <p><%= prod.colour.name %></p>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
