<div class="container">
  <%= notice %>
  <%= cl_image_tag @product.pictures.first.url, crop: :cover %>

  <p><%= @product.name %></p>
  <p><%= @product.price %></p>
  <p>Select a size: </p>
  <%= simple_form_for [@product, @order_product] do |f| %>
    <%= f.input :size, collection: [ "XS", "S", "M", "L"] %>
    <%= f.button :submit %>
  <% end %>
</div>

