<div class="main-container-pics">
  <div class="pic-1 pic"><%= image_tag @product.pictures[1].url, height: 450, crop: :cover %></div>
  <div class="pic-2 pic"><%= image_tag @product.pictures[2].url, height: 450, crop: :cover %></div>
  <div class="pic-3 pic"><%= image_tag @product.pictures[3].url, height: 450, crop: :cover %></div>
  <div class="pic-4 pic"><%= image_tag @product.pictures[3].url, height: 450, crop: :cover %></div>
  <div class="pic-5-6 d-flex justify-content-between">
    <div class="pic pic-5"><%= image_tag @product.pictures[4].url, height: 450, crop: :cover %></div>
    <div class="pic pic-6"><%= image_tag @product.pictures[5].url, height: 450, crop: :cover%></div>
  </div>
  <!-- Formulário -->
  <div class="product-page-details">
     <%= notice %>
    <div class="shopping">
      <h2><%= @product.name %></h2>
      <h5><%= @product.price %></h5>
      <p>Select a size: </p>
      <%= simple_form_for [@product, @order_product] do |f| %>
      <div class="form-inputs size-form">
        <%= f.input :size, collection: [ "XS", "S", "M", "L"] %>
        <%= f.button :submit, "Add to cart", class: "blue-btn checkout-btn" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
