<div class="main-container-pics">
  <div class="pic-1 pic"><%= cl_image_tag @product.pictures[1].url %></div>
  <div class="pic-2 pic"><%= cl_image_tag @product.pictures[2].url %></div>
  <div class="pic-3 pic"><%= cl_image_tag @product.pictures[3].url %></div>
  <div class="pic-4 pic"><%= cl_image_tag @product.pictures[0].url %></div>
  <div class="pic-5-6 d-flex justify-content-between">
    <div class="pic pic-5"><%= cl_image_tag @product.pictures[4].url %></div>
    <div class="pic pic-6"><%= cl_image_tag @product.pictures[5].url%></div>
  </div>
  <!-- Formulário -->
  <div class="product-page-details">
     <%= notice %>
    <div class="shopping">
      <h2><%= @product.name %></h2>
      <h5><%= @product.price %></h5>
      <p>Select a size: </p>
      <%= simple_form_for [@product, @order_product] do |f| %>
      <div class="form-inputs size-form">
        <%= f.input :size, collection: [ "XS", "S", "M", "L"] %>
        <%= f.button :submit, "Add to cart", class: "blue-btn checkout-btn" %>
      <% end %>
      </div>

      <%= simple_form_for @wishlist do |f| %>
      <div class="form-inputs size-form">
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.button :submit, "Add to wishlist", class: "pink-btn wishlist-btn" %>
      <% end %>
      </div>

      <%#= link_to "Add to wishlist", wishlists_path, method: :create, class:"pink-btn" %>
      <br>
    </div>
  </div>
</div>

