<div class="prod-pic-container">
  <div class="d-flex">
    <div class="col-lg-8">
        <div class="first-row">
          <div class="pic"><%= image_tag @product.pictures[1].url, height: 450, crop: :cover %></div>
          <div class="pic"><%= image_tag @product.pictures[2].url, height: 450, crop: :cover %></div>
          <div class="pic"><%= image_tag @product.pictures[3].url, height: 450, crop: :cover %></div>
        </div>
        <div class="main-pic"><%= image_tag @product.pictures[0].url %></div>
        <div class="last-row">
          <div class="pic-2"><%= image_tag @product.pictures[4].url %></div>
          <div class="pic-2"><%= image_tag @product.pictures[5].url%></div>
        </div>
    </div>
        <div class="product-page-details">
           <%= notice %>
          <div class="shopping">
            <h2><%= @product.name %></h2>
            <h5><%= @product.price %></h5>
            <p>Select a size: </p>
            <%= simple_form_for [@product, @order_product] do |f| %>
            <div class="form-inputs size-form">
              <%= f.input :size, collection: [ "XS", "S", "M", "L"] %>
              <%= f.button :submit, "Add to cart", class: "blue-btn checkout-btn" %>
            <% end %>
            </div>
          </div>
    </div>
  </div>
</div>
